@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @if (@User.IsInRole("admin"))
        {
            <p>
                @Html.ActionLink("Crear Nuevo Usuario", "Create")
            </p>
        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
@if (@User.IsInRole("admin"))
{
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
}
                <th>
                    @Html.DisplayNameFor(model => model.isAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Major)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ucard)
                </th>
                @if (!(bool)ViewBag.backToprojectItem)
                {
                    <th></th>
                }
                else {
                    <th>Asignar</th>
                }

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
@if (@User.IsInRole("admin"))
{
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
}
                    <td>
                        @Html.DisplayFor(modelItem => item.isAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ucard)
                    </td>
                    @if (@User.IsInRole("admin"))
                    {
                        if (!(bool)ViewBag.backToprojectItem)
                        {

                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                            @*   @Html.ActionLink("Details", "Details", new { id = item.ID }) |   *@
                                @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
                            </td>
                        }
                        else {
                            <td>
                                <input type="checkbox"
                                       name="selectedUsers"
                                       value="@item.ID" />
                            </td>
                        }

                    }
                  
                </tr>
            }@*foeach closing kek*@

        </table>

        @if ((bool)ViewBag.backToprojectItem)
        {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar"  class="btn btn-primary" style="float: right;" />
                    </div>
                </div>
        }
    </div>
}