@model WebApplication1.Models.ProjectTask

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Tarea</h2>

<h3>Seguro que desea eleminar esta tarea?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a Tareas", "Index")
        </div>
    }
</div>
